html {
    font-family: Arial;
    color: rgb(80, 80, 80);
}

.box {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 5%;
    margin-right: 5%;
}

.sect {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.medal {
    height: 70%;
}

.sectName {
    width: 85%;
    padding-left: 5%;
}

.infos {
    margin-top: 30px;
    text-align : left;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.values {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    height: 80px;
}

.sal, .proba, .tension {
    width: 33%;
    height: 100%;
}

.sal, .proba {
    border-right: 1px solid rgb(173, 173, 173);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.icon {
    width: 20%;
}

.titleName {
    width: 60%;
    padding-left: 5%;
    text-align: left;
}

.val {
    text-align: center;
    width: 100%;
}


